<br>
<h1 >WELCOME TO SNAP SPLAT!</h1>
<br>



<div class="inputbox" style="display:inline-block">
	<h1>Sign In</h1>

	<form action="<%= session_url %>" method="post">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">

	  <label for="user_username">Username:</label>
	  <input
	     id="user_username"
	     name="user[username]"
	     type="text">
	  <br>

	  <label for="user_password">Password:</label>
	  <input
	     id="user_password"
	     name="user[password]"
	     type="password">
	  <br>

	  <input type="submit" value="Log in">
	</form>
</div>

<br>
<br>

<div class="inputbox" style="display:inline-block">
	<h1>Need an account?</h1>
	<br>
	<%= button_to "Create Account", new_user_url, :action => "new", :method => "get" %>
</div>
	
