<br>

<div class="inputbox">
	
	<h1>Edit Profile</h1>

	<br>

	<form action="<%= user_url(@user) %>" method="post">
	  <input
	     name="_method"
	     type="hidden"
	     value="PUT">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">

	  <label for="user_tagline">Tagline:</label>
	  <input
	     id="user_tagline"
	     name="user[tagline]"
	     type="text"
		 value="<%= @user.tagline %>">
	  <br>
	  
	  <label for="user_tagline">Blurb:</label>
	  <textarea
	  	id="user_blurb"
		name="user[blurb]"
		columns=40
		rows=10
		style="min-width: 300px;"
		><%= @user.blurb %></textarea>

	  <br>

	  <input type="submit" value="Update Profile">
	</form>
</div>