<h1>USER <%= @user.username %>'s page!</h1>

<br>

<h4>Tagline: </h4>

<br>

<h4>Blurb: </h4>

<br>

<h4>Photos: </h4>
<ul>
	<% @user.photos.each do |photo| %>
	<li> <img src="<%= photo.url %>" width="400" onclick='$.modal( createModal( "<%= photo.url %>" ), { "overlayClose": true } );'> </li>	
	<% end %>
</ul>

<script type="text/javascript">

function createModal (url) {
	return "<div><img src='" + url + "' width='700' ></div>";
}
</script>