<div class="inputbox">
	<div id="banner">
		<h1>New Snaps:</h1>
	</div>
	
	<br>


	<div id="user_feed">
		<% photos =  current_user.get_limited_feed_photos %>
		
		<% if photos.length > 0 %>
		
			<% photos.each do |photo| %>
				<div>
					<hr class="rule">
					<h4><%= photo.user.username %>:</h4>
					<img src="<%= photo.url %>" width="400"> 
				</div>
				<br>
			<% end %>
		<% else %>
			<div>
				<hr class="rule">
				<h4>No snaps to view, you should </h4>
				<a href="<%= users_url %>" ><h4>browse users to follow!</h4></a>
			</div>
		<% end %>
	</div>
</div>