<div class="pagebox">
	<div id="banner" class="inputbox">
		<h1>New Snaps:</h1>
	</div>
	
	<br>


	<div id="user_feed">
		<% photos =  current_user.get_limited_feed_photos %>
		
		<% photos.each do |photo| %>
			<div class="inputbox">
				<h4><%= photo.user.username %>:</h4>
				<img src="<%= photo.url %>" width="400"> 
			</div>
			<br>
		<% end %>
	</div>
</div>