<div class="pagebox">

	<div id="user_feed">
		<% current_user.get_limited_feed_photos.each do |photo| %>
			<div class="inputbox">
				<h4><%= photo.user.username %>:</h4>
				<img src="<%= photo.url %>" width="400"> 
			</div>
			<br>
		<% end %>
	</div>
</div>