/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 */

.clear{
	clear: both;
}

.inline-button div {
	display: inline;
}

.hidden { display: none; }

html, body, {height: 100%;}

.outer-center{
	float: right;
	right: 50%;
	position: relative;
}

.inner-center{
	width: 100%;
	height: 100%;
	float: right;
	right: -50%;
	position: relative;
	text-align: center;
}

.inputbox{
	background-color: #ecf0f1;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	padding: 10px;
	min-width: 500px;
	
}

.pagebox{
	background-color: #bdc3c7;
	text-align: center;
	padding: 20px;
	min-width: 500px;
}

.rule{
	border-color: #555555;
	width: 90%;
}